
body{
	background: #F2D7D5;
	font-family: "Century Gothic";

}

button{
	font-weight: bold;
}

.lista{
	background: #FDEDEC;
	width: 450px;
  	padding: 15px;
  	margin: 15px;
}

.it{
	font-style: "Century Gothic";
	font-size: 25px;
	font-weight: bold;
}

 
.task-complete{
  background: #00796b;
  color:aliceblue;
  text-decoration: line-through;
}
 